body{ margin:0 auto;
      background-color: rgb(231,238,247);}

span{font-size:120%}

a{text-decoration: none;}

#gloval{width:100%;
        max-width:1366px;
        margin:0 auto;}

.centro {width:100%;
		padding:70px 0px 0px 0px;
		margin:0px 0px 0px 0px;
		}	

h1{font-size:250%;
   padding:50px 0px 0px 0px;}
h2{}	

























































		



